$margin-base: 5px;
$padding-base: 5px;
$font-size-base: 14px;
$border-radius-base: 10px;

$fonts: (
    "europa": europa,
    "rift-soft": rift-soft
);

$colors: (
    "sage": #87BCBF,
    "rust": #D97D54,
    "drab": #324755,
    "danger": #D95454,
    "ice": #F0F3F4,
    "fossil": #C8D1D3,
    "sand": #B9B0A2,
    "onyx": #1B1C20,
    "slate": #6E8CA0,
    "snow": #FFFFFF,
    "gray": #F0F3F4,
    "black": #000000
);