$cardHeight: 100px;
.Card {
    display: grid;
    grid-template-columns: 2fr $cardHeight;
    border-bottom: 1px solid map-get($colors, "ice");
    transition: 0.4s;
    height: $cardHeight;
    &__btn {
        grid-area: 1/2/2/3;
    }
    &__text {
        overflow: hidden;
        transition: transform 0.1s;
        grid-area: 1/1/2/3;
        display: grid;
        grid-template-columns: ($cardHeight * 0.75) 1fr;
        align-items: center;
        gap: 10px;
    }
    &__img {
        width: $cardHeight * 0.75;
        height: $cardHeight * 0.75;
        border-radius: 50%;
        object-fit: cover;
    }
    &__title {
        @extend %card-title;
    }
    &__abstract {
        @extend %card-copy;
    }
}

.hide-animation {
    opacity: 0; 
    height: 0px;
    border: 0px;
}

.del-animation { 
    @extend .hide-animation;
    transform: translateX(-100vw); 
}